{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Chat - Apps{% endblock %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/bootstrap-maxlength/bootstrap-maxlength.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/bootstrap-maxlength/bootstrap-maxlength.js' %}"></script>
{% endblock vendor_js %}

{% block page_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/css/pages/app-chat.css' %}" />
{% endblock page_css %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/app-chat.js' %}"></script>
{% endblock page_js %}

{% block content %}
<div class="app-chat card overflow-hidden">
  <div class="row g-0">
    <!-- Sidebar Left -->
    <div class="col app-chat-sidebar-left app-sidebar overflow-hidden" id="app-chat-sidebar-left">
      <div class="chat-sidebar-left-user sidebar-header d-flex flex-column justify-content-center align-items-center flex-wrap px-5 pt-12">
        <div class="avatar avatar-xl avatar-online chat-sidebar-avatar">
          <img src="{% static 'img/avatars/1.png' %}" alt="Avatar" class="rounded-circle">
        </div>
        <h5 class="mt-4 mb-0">John Doe</h5>
        <span>UI/UX Designer</span>
        <i class="ri-close-line ri-20px cursor-pointer close-sidebar" data-bs-toggle="sidebar" data-overlay data-target="#app-chat-sidebar-left"></i>
      </div>
      <div class="sidebar-body px-5 pb-5">
        <div class="my-6 pt-2">
          <label for="chat-sidebar-left-user-about" class="text-uppercase text-muted mb-1">About</label>
          <textarea id="chat-sidebar-left-user-about" class="form-control chat-sidebar-left-user-about" rows="3" maxlength="120">Hey there, we’re just writing to let you know that you’ve been subscribed to a repository on GitHub.</textarea>
        </div>
        <div class="my-6">
          <p class="text-uppercase text-muted mb-1">Status</p>
          <div class="d-grid gap-2 pt-2">
            <div class="form-check form-check-success">
              <input name="chat-user-status" class="form-check-input" type="radio" value="active" id="user-active" checked>
              <label class="form-check-label" for="user-active">Active</label>
            </div>
            <div class="form-check form-check-warning">
              <input name="chat-user-status" class="form-check-input" type="radio" value="away" id="user-away">
              <label class="form-check-label" for="user-away">Away</label>
            </div>
            <div class="form-check form-check-danger">
              <input name="chat-user-status" class="form-check-input" type="radio" value="busy" id="user-busy">
              <label class="form-check-label" for="user-busy">Do not Disturb</label>
            </div>
            <div class="form-check form-check-secondary">
              <input name="chat-user-status" class="form-check-input" type="radio" value="offline" id="user-offline">
              <label class="form-check-label" for="user-offline">Offline</label>
            </div>
          </div>
        </div>
        <div class="my-6">
          <p class="text-uppercase text-muted mb-1">Settings</p>
          <ul class="list-unstyled d-grid gap-4 ms-2 pt-2">
            <li class="d-flex justify-content-between align-items-center">
              <div>
                <i class='ri-lock-password-line me-1 ri-22px'></i>
                <span class="align-middle">Two-step Verification</span>
              </div>
              <div class="form-check form-switch mb-0 me-1">
                <input type="checkbox" class="form-check-input" checked />
              </div>
            </li>
            <li class="d-flex justify-content-between align-items-center">
              <div>
                <i class='ri-notification-line me-1 ri-22px'></i>
                <span class="align-middle">Notification</span>
              </div>
              <div class="form-check form-switch mb-0 me-1">
                <input type="checkbox" class="form-check-input" />
              </div>
            </li>
            <li>
              <i class="ri-user-add-line me-1 ri-22px"></i>
              <span class="align-middle">Invite Friends</span>
            </li>
            <li>
              <i class="ri-delete-bin-7-line me-1 ri-22px"></i>
              <span class="align-middle">Delete Account</span>
            </li>
          </ul>
        </div>
        <div class="d-flex mt-6">
          <button class="btn btn-primary w-100" data-bs-toggle="sidebar" data-overlay data-target="#app-chat-sidebar-left">Logout<i class='ri-logout-box-r-line ri-16px ms-1_5'></i></button>
        </div>
      </div>
    </div>
    <!-- /Sidebar Left-->


    <!-- Chat History -->
    <div class="col app-chat-history">
      <div class="chat-history-wrapper">
        <div class="chat-history-header border-bottom">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex overflow-hidden align-items-center">
              <i class="ri-menu-line ri-24px cursor-pointer d-lg-none d-block me-4" data-bs-toggle="sidebar" data-overlay data-target="#app-chat-contacts"></i>
              <div class="flex-shrink-0 avatar avatar-online">
                <img src="{% static 'img/ditan_logo.png' %}" alt="Avatar" class="rounded-circle" data-bs-toggle="sidebar" data-overlay data-target="#app-chat-sidebar-right">
              </div>
              <div class="chat-contact-info flex-grow-1 ms-4">
                <h6 class="m-0 fw-normal">UniSeek</h6>
                <small class="user-status text-body">允思拓服务助手</small>
              </div>
            </div>
          </div>
        </div>
        <div class="chat-history-body">
          <ul class="list-unstyled chat-history">

            <li class="chat-message">
              <div class="d-flex overflow-hidden">
                <div class="user-avatar flex-shrink-0 me-4">
                  <div class="avatar avatar-sm">
                    <img src="{% static 'img/ditan_logo.png' %}" alt="Avatar" class="rounded-circle">
                  </div>
                </div>
                <div class="chat-message-wrapper flex-grow-1">
                  <div class="chat-message-text">
                    <p class="mb-0">您好！我是由允思拓公司部署的本地大语言模型，基于DeepSeek-8b开源模型开发。</p>
                    <p class="mb-0">我可以帮助您解答关于科研相关知识以及公司的服务信息等。对于其他问题，我也会尽力提供准确的信息。</p>
                    <p class="mb-0">如果有任何疑问，欢迎随时提问！? 🤔</p>
                  </div>
                </div>
              </div>
            </li>


          </ul>
        </div>
        <!-- Chat message form -->
        <div class="chat-history-footer">
          <form class="form-send-message d-flex justify-content-between align-items-center ">
            <input class="form-control message-input me-4 shadow-none" placeholder="Type your message here...">
            <div class="message-actions d-flex align-items-center">
              <button class="btn btn-primary d-flex send-msg-btn">
                <span class="align-middle">Send</span>
                <i class="ri-send-plane-line ri-16px ms-md-1_5 ms-0"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- /Chat History -->

    <div class="app-overlay"></div>
  </div>
</div>
{% endblock %}
